<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Mission</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>Edit SpaceX Mission</h1>

    <form action="/edit-mission/<%= mission._id %>" method="POST" enctype="multipart/form-data">

        <input
            type="text"
            name="missionName"
            value="<%= mission.missionName %>"
            required
        >
        <br><br>

        <input
            type="text"
            name="rocketName"
            value="<%= mission.rocketName %>"
            required
        >
        <br><br>

        <input
            type="date"
            name="launchDate"
            value="<%= mission.launchDate.toISOString().split('T')[0] %>"
            required
        >
        <br><br>

        <textarea
            name="description"
            rows="5"
            cols="30"
            required
        ><%= mission.description %></textarea>
        <br><br>

        <% if (mission.image) { %>
            <img
                src="/<%= mission.image %>"
                alt="Mission Image"
                width="250"
            >
            <br><br>
        <% } %>

        <input
            type="file"
            name="image"
            accept="image/*"
        >
        <br><br>

        <button type="submit">
            Update Mission
        </button>

    </form>

    <br>

    <a href="/dashboard">
        Back to Dashboard
    </a>

</body>
</html>